@font-face {
    font-family: 'Hauora';
    src: url('../assets/fonts/ttf/Hauora-Bold.ttf');
}
@font-face {
    font-family: 'Hauora';
    src: url('../assets/fonts/ttf/Hauora-Bold.ttf');
}
@font-face {
    font-family: 'Hauora';
    src: url('../assets/fonts/ttf/Hauora-SemiBold.ttf');
}
@font-face {
    font-family: 'Hauora';
    src: url('../assets/fonts/ttf/Hauora-ExtraBold.ttf');
}
@font-face {
    font-family: 'Hauora';
    src: url('../assets/fonts/ttf/Hauora-Light.ttf');
}
@font-face {
    font-family: 'Hauora';
    src: url('../assets/fonts/ttf/Hauora-Medium.ttf');
}
@font-face {
    font-family: 'Hauora';
    src: url('../assets/fonts/ttf/Hauora-Regular.ttf');
}